# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

DATABASE_URL="prisma+postgres://accelerate.prisma-data.net/?api_key=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJqd3RfaWQiOjEsInNlY3VyZV9rZXkiOiJza18zbUdrQ1Q3U0JFLUJoSUpkWmFjU1YiLCJhcGlfa2V5IjoiMDFLNkdFWTZZUFdHM1ZYNjQ0TUIzMkZWS0QiLCJ0ZW5hbnRfaWQiOiI3YWExNjQzMWQ0MTlhMmEyNzhhY2MwMDJjMDMwYjA3MGYzOWI4M2UwODA2OWE5NzE1MTcyNzE1ZjhjOGZjMWJhIiwiaW50ZXJuYWxfc2VjcmV0IjoiZWJmMDI0ODgtMmNmYi00OGExLWJjMzQtYTkyZWEwMDRmM2EyIn0.SpIL03jMdbPyygBpiAh79BGeKBQVzachpCn4b9UHNhI"

# NEXTAUTH_SECRET="0f3b8e2f4c8e4c3a9f6e4e8b7c9d6e4f"
# NEXTAUTH_URL="http://localhost:3000"

# MIDTRANS_CLIENT_KEY="SB-Mid-client-3n7GkCT7SBE-BhIJdZacSV"
# MIDTRANS_SERVER_KEY="SB-Mid-server-01K7GEY6YPWG3"

NODE_ENV="development"